.table__cell_theme_dark {
    width: 200px; /* насколько я понимаю я не могу убрать эти свойства поскольку темная тема отличается не только цветом но и размером ячейки и верхним отступом 
    Или вы предалагаете создать еще один элемент для этих ячеек? Тогда количество элементов не будет соотв. брифу поскольку я не могу создавать лишние элементы. Поясните пожалуйста */
    margin-top: 80px;
    color: #f2f2f2;
  }